* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(211, 230, 246);
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.btn-show {
  position: absolute;
  right: 5px;
  top: 50%;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #6c6d6d;
  font-size: 20px;
  transition: all 0.3s;
  transform: translateY(-50%);
}

.form {
  width: 300px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  background-color: #fff;
  color: rgb(27, 26, 25);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form h1 {
  margin-bottom: 20px;
}

.form input {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background: rgb(227, 225, 225);
  width: 100%;
  font-size: 16px;
}

.form img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.form-group {
  position: relative;
  width: 100%;
}
